<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43238568394-ksb72ud6dalvccehnstqrdncdvqrq5c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43238568394-ksb72ud6dalvccehnstqrdncdvqrq5c4</string>
	<key>API_KEY</key>
	<string>AIzaSyC-3fq3QLDFIvHC1_7lm3Czu2_zEuIIsnI</string>
	<key>GCM_SENDER_ID</key>
	<string>43238568394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mephrine.TodoRIBs</string>
	<key>PROJECT_ID</key>
	<string>todoribs-29c37</string>
	<key>STORAGE_BUCKET</key>
	<string>todoribs-29c37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43238568394:ios:b96dccf5083e46d1a35f33</string>
</dict>
</plist>